/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

1. Basics

==============================================
*/



/* 1. Basics ================================= */

* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif; 
	/* if your page has sans-serif text on it, you know this css file is working */
}